In [11]:
import pandas as pd

In [24]:
pd.DataFrame([[4,7,10],[5,8,11],[6,9,12]],index=[1,2,3],columns=['a','b','c'])

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [25]:
pd.DataFrame([[1,2],[3,4]], columns=['A','B'],index=[1,2] )

   A  B
1  1  2
2  3  4

In [27]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object